// COLOR
$white: #f8f8f2;
$black: #15131f;
$gray: #6272A4;
$light-gray: #44475a;
$gray-dark: #7d7d7d;
$red: #b11b26;
$overlay: rgba(0, 0, 0, 0.4);
$light-black: #23212d;
$green: #50FA7B;
$blue: #67bed9;
$dark-purple: #2a2640;
$pink: #FF79C6;
$orange: #FFB86C;
$purple: #BD93F9;

// Sizes
$w-full: 100%;
$header-height: 4rem;
$card-width: 250px;
$product-img-size: 220px;
$category-img-width: 135px;
$category-img-height: 190px;
$dot-size: 6px;

$breakpoint-mobile: 768px;


// Margin
$margin-small: 0.5rem;
$margin-medium: 1rem;
$margin-large: 1.25rem;
$margin-xlarge: 1.8rem;

// Justify / Align
$justify-between: space-between;
$items-center: center;
$items-end: flex-end;


// Font
$font-xs: 0.75rem;
$font-sm: 0.875rem;
$font-base: 0.9rem;
$font-lg: 1.25rem;
$font-xl: 1.5rem;
$font-2xl: 2rem;

// Radius
$radius-sm: 0.3rem;
$radius-md: 0.5rem;
$radius-lg: 12px;
