// COLOR
$white: #fbfbf9;
$clean-white: #f1f1f1;
$black: #15131f;
$light-black: #23212d;
$gray: #6272A4;
$light-gray: #cfd1db;
$gray-dark: #7d7d7d;
$red: #e74c3c;
$overlay: rgba(0, 0, 0, 0.4);
$green: #30cd55;
$blue: #6272a4;
$dark-purple: #2a2640;
$pink: #FF79C6;
$orange: #FFB86C;
$purple: #8466ef;
$light-purple: #847afe;

// Sizes
$w-full: 100%;
$header-height: 4rem;
$card-width: 250px;
$product-img-size: 220px;
$category-img-width: 135px;
$category-img-height: 190px;
$dot-size: 6px;

$breakpoint-mobile: 768px;

// Margin
$margin-small: 0.5rem;
$margin-medium: 1rem;
$margin-large: 1.25rem;
$margin-xlarge: 1.8rem;

// Justify / Align
$justify-between: space-between;
$items-center: center;
$items-end: flex-end;


// Font
$font-xs: 0.75rem;
$font-sm: 0.875rem;
$font-base: 0.9rem;
$font-lg: 1.25rem;
$font-xl: 1.5rem;
$font-2xl: 2rem;

// Radius
$radius-sm: 0.3rem;
$radius-md: 0.5rem;
$radius-lg: 5rem;
