@use "../../styles/variables" as vars;

.flashcard-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  width: 60%;
  align-items: center;
}

.flashcard-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.flashcard {
  width: 18rem;
  height: 10rem;
  perspective: 1000px;
  cursor: pointer;
}

.flashcard > div {
  width: 100%;
  min-height: 100%;
  padding: 1rem;
  color: #fff;
  background: var(--card-bg, #282a36); 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  backface-visibility: hidden;
  transition:
    transform 0.5s,
    background 0.4s ease;
  position: absolute;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.flashcard .front {
  transform: rotateY(0deg);
}

.flashcard.flipped .front {
  transform: rotateY(180deg);
}

.flashcard .back {
  transform: rotateY(180deg);
}

.flashcard.flipped .back {
  transform: rotateY(0deg);
}
